i {
    font-size: 40px;
}

h1{
    text-align: center;
}

.blocks{
    display: flex;
    justify-content: space-evenly;
}

h2 {
    color: orange;
}

button {
    background-color: #67a2e8;
    color: white;

    border: 0;

    width: 100px;
    height: 30px;
}

.block{
    width: 250px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 3px solid ;
    box-shadow: #3d3d3d 20px 20px 1px 0;
}